@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Mada:wght@200..900&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Judson', serif;
}

.kameron{
  font-family: "Libre Baskerville", serif;
}
.mada{
  font-family: "Mada", sans-serif;
}
.hover-to-copy{
  background-color: rgba(0, 0, 0, 0.5);
}
.refresh svg{
  transition: all 0.2s ease-in-out;
  transform: rotateZ(0deg);
  animation: rotate 3s infinite;
}
@keyframes rotate{
  0%{
    transform: rotateZ(0deg);
  }
  50%{
    transform: rotateZ(360deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}
.refresh:hover svg{
  scale: 1.05;
  transform: rotateZ(30deg);
}
.proceed svg{
  transition: all 0.1s ease-in-out;
  transform: rotateZ(0deg);
}
.proceed:hover svg{
  scale: 1.05;
  translate: 2px 0px;
}
.add-wallet{
  cursor: pointer;
}
.add-wallet svg{
  transition: all 0.1s ease-in-out;
  transform: rotateZ(0deg);
}
.add-wallet:hover svg{
  scale: 1.05;
}
